{
  "extends": [
    "stylelint-config-standard", 
    "stylelint-config-recommended", 
    "stylelint-config-prettier"
  ],
  "overrides": [
    {
      "files": ["*.astro", "**/*.astro"],
      "customSyntax": "postcss-html"
    }
  ]
}