{
  "rules": {},
  "overrides": [
    {
      "files": ["src/plugins/index.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "no-undef": "off"
      }
    },
    {
      "files": ["*.js", "*.po.ts"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    }
  ],
  "extends": ["plugin:cypress/recommended", "../../.eslintrc"],
  "ignorePatterns": ["!**/*"]
}
