---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Intro from '../components/Intro.astro'
import AboutMe from '../components/AboutMe.astro'
import QuoteFirst from '../components/QuoteFirst.astro'
import Philosophy from '../components/Philosophy.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import QuoteSecond from '../components/QuoteSecond.astro'
import ContactMe from '../components/ContactMe.astro'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class='container relative px-xs overflow-x-hidden'>
    <Header title={SITE_TITLE} />
    <main id='root' class='flx flx-col gap-xxl'>
      <Intro />
      <AboutMe />
      <QuoteFirst />
      <Philosophy />
      <QuoteSecond />
      <ContactMe />
    </main>
    <Footer />
  </body>
</html>
