<div class='ft-base flx flx-col algn-items-center relative' id='contact'>
  <div class='ft-md ft-700 py-xs'>
    Have an <span class='txt-color'>amazing</span> idea?
  </div>
  <img src='/wavy-line.svg' class='absolute z-1' />
  <div
    class='bg box ft-700 flx flx-col algn-items-center justify-contents-center relative'
  >
    <div class='ft-sm'>Lets talk</div>
    <a class='ft-xxs' href='mailto:waelshowair@duck.com'>Contact me</a>
  </div>
</div>

<style>
  .txt-color {
    background: linear-gradient(
      90deg,
      #ffcd45 20.18%,
      #fbe7b5 10.71%,
      #54cfc8 68.37%,
      #6c57cc 10.72%
    );
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  img {
    top: 10%;
    left: -10%;
    width: 120%;
    max-width: 120%;
  }

  .box {
    width: 35%; /* 518px/1480px */
    min-width: 230px;
    aspect-ratio: 1.427;
    border-radius: 7.34%;
    backdrop-filter: blur(22.1995px);
    margin-top: 15%;
  }

  .bg {
    background: url('/mask.svg') no-repeat, rgb(53 52 45 / 52%) no-repeat;
    background-size: cover;
  }

  a {
    text-decoration: none;
    color: initial;
    background-color: var(--accent-color);
    padding: 5.71% 15.625%;
    border: none;
    border-radius: 14px;
    margin-top: 12.36%; /* 64px/518px */
  }
</style>
