---
import HeaderLink from './HeaderLink.astro'
---

<header class='py-sm relative'>
  <nav class='ft-600 flx spc-btwn'>
    <HeaderLink href='/'><img src='/me-sm.png' />Wael Showair</HeaderLink>
    <HeaderLink href='#contact'>Contact</HeaderLink>
  </nav>
</header>
<style>
  header {
    height: var(--header-ht);
    z-index: 1;
  }

  img {
    width: var(--r44);
  }
</style>
