---
export type Props = astroHTML.JSX.AnchorHTMLAttributes

const { href, class: className, ...props } = Astro.props
const isActive = href === Astro.url.pathname.replace(/\/$/, '')
---

<a
  href={href}
  class:list={[
    'flx',
    'algn-items-center',
    'txt-dec-none',
    className,
    { active: isActive },
  ]}
  {...props}
>
  <slot />
</a>
<style>
  a {
    color: var(--fg-color);
  }

  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
