<h1 class='ft-base'>
  <div class='ft-500 ft-xxs'>Hi I'm a</div>
  <div class='ft-600 ft-lg acc'>Frontend</div>
  <div class='ft-700 ft-xxl'>Developer</div>
  <div class='ft-500 ft-sm acc'>Who builds</div>
  <div class='ft-600 ft-sm'>Intuitive User interfaces</div>
</h1>
<img src='/me-full.png' class='absolute z-1' />

<style>
  img {
    top: -3.125rem; /* -50px */
    right: -3.125rem; /* -50px */
    max-height: 100vh; /* to make sure the image is always above the fold */
  }
</style>
