<div class='ft-base relative'>
  <img src='/separator.png' class='z-1 absolute top' />
  <img src='/separator.png' class='z-1 absolute bottom' />
  <p class='flx justify-contents-center m'>
    <span class='ft-500 ft-sm txt-center'
      >Frontend technologies are moving fast so
      <br />
      <span class='acc'>Continous learning</span> has become my lifestyle.
    </span>
  </p>
</div>

<style>
  .z-1.top {
    top: -100%;
    left: -20%;
    transform: rotate(-45deg);
  }

  .z-1.bottom {
    bottom: -160%;
    right: -20%;
    transform: rotate(135deg);
  }

  .m {
    margin-top: 10%;
  }
</style>
