<div class='ft-base relative'>
  <img src='/separator.png' class='z-1 absolute top' />
  <img src='/separator.png' class='z-1 absolute bottom' />
  <p class='flx justify-contents-center m'>
    <span class='ft-600 ft-xl acc'>&#x0201C;</span>
    <span class='ft-500 ft-sm txt-center'
      >Writing new code is easy<br />but maintaining code is a real hard task.
      <br />
      <sub class='ft-600 ft-xxs acc'>Wael Showair</sub>
    </span>
    <span class='ft-600 ft-xl acc'>&#x0201D;</span>
  </p>
</div>

<style>
  .z-1.top {
    top: -100%;
    left: -10%;
  }

  .z-1.bottom {
    bottom: -100%;
    right: -10%;
    transform: rotate(180deg);
  }

  .m {
    margin-top: 10%;
  }
</style>
