{
  "extends": "../../.eslintrc",
  "rules": {},
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "no-console": "off"
      }
    }
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "ignorePatterns": ["!**/*"] }
